html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.swiper .swiper-slide img {
  filter: brightness(0.5);
}
.text-slider {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
}
.text-slider p{
  font-size: 1.125rem;
}
.text-slider p,
.text-slider h1,
.text-slider span {
  color: #fff;
}
.slider-image {
  position: relative;
  width: 260px;
  height: 284px;
}
.product-area-content {
  width: 90%;
  max-width: 1250px;
  margin-inline: auto;
}
.slider-image > span{
  background-color: #519f10;
  border-radius: 100px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  left: 10px;
  line-height: 1;
  position: absolute;
  top: 10px;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
}
/*MODAL*/
.modal-content {
  max-height: 85vh;
  overflow-y: auto;
}
@media only screen and (max-width: 767px) {
  .text-slider {
    width: 85%;
  }
  .text-slider p {
    font-size: 0.875rem;
  }
}

